################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Omega/bin
/Omega/obj
/Omega/wwwroot
