<div>
  <button class="actionButton" mat-raised-button routerLink="/encode" color="primary">Encode</button>
  <button class="actionButton" mat-raised-button routerLink="/decode" color="primary">Decode</button>
</div>
<div class="mainContainer"> 
  <svg class="bars" version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 860.000000 860.000000"
    preserveAspectRatio="xMidYMid meet">
    <g transform="translate(0.000000,860.000000) scale(0.100000,-0.100000)">
      <path d="M170 8425 l-175 -175 88 0 87 0 0 -3860 0 -3860 -85 0 -85 0 0 -180
  0 -180 85 0 85 0 0 -85 0 -85 180 0 180 0 0 85 0 85 3860 0 3860 0 0 -87 0
  -88 177 178 178 177 -178 177 -177 178 0 -88 0 -87 -3860 0 -3860 0 0 3860 0
  3860 87 0 88 0 -175 175 c-96 96 -177 175 -180 175 -3 0 -84 -79 -180 -175z" />
    </g>
  </svg>
  <div class="barcontainer vertical flat">


    <div class="progress-bar">
      <div class="progress-track">
        <div class="progress-fill first">
          <span class="logoText">D</span>
        </div>
      </div>
    </div>

    <div class="progress-bar">
      <div class="progress-track">
        <div class="progress-fill second">
          <span class="logoText">F</span>
        </div>
      </div>
    </div>

    <div class="progress-bar">
      <div class="progress-track">
        <div class="progress-fill third">
          <span class="logoText">E</span>
        </div>
      </div>
    </div>
  </div>

</div>
